<div id="categoriesState">
	<div class="panel panel-default">
		  <!-- Default panel contents -->
		<div class="panel-heading">Panel heading</div>

		  <!-- Table -->
	   <table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Activity Name</th>
	            <th>Roles</th>
	            <th>Actions</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th scope="row">1</th>
	            <td>Yoga</td>
	            <td>
		            <button class="btn btn-success pull-right" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	        	<td>
	        		 <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
		              Delete
		            </button>
	        	</td>
	          </tr>
	          <tr>
	            <th scope="row">2</th>
	            <td>Kendo</td>
	            <td>
		            <button class="btn btn-success pull-right" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	        	<td>
	        		 <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
		              Delete
		            </button>
	        	</td>
	          	</tr>
	          <tr>
	            <th scope="row">3</th>
	            <td>Dance</td>
	            <td>
		            <button class="btn btn-success pull-right" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-info pull-right" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	        	<td>
	        		 <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
		              Delete
		            </button>
	        	</td>
	          	</tr>
	        </tbody>
	    </table>
	</div>
</div>