<div id="usersState">
	<div class="panel panel-default">
		  <!-- Default panel contents -->
		<div class="panel-heading">Panel heading</div>

		  <!-- Table -->
	   <table class="table">
	        <thead>
	          <tr>
	            <th>ID</th>
	            <th>First Name</th>
	            <th>Last Name</th>
	            <th>E-mail</th>
	            <th>Roles</th>
	          </tr>
	        </thead>
	        <tbody>
	        	<tr>
	            <th scope="row">1</th>
	            <td>Larry</td>
	            <td>the Bird</td>
	            <td>larry@42</td>
	           <td>
		            <button class="btn btn-success pull-left" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-info pull-left" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-info pull-left" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-info pull-left" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	          	</tr>
	          <tr>
	            <th scope="row">2</th>
	            <td>Elie</td>
	            <td>Gallet</td>
	            <td>elie.gallet@zen.com</td>
	            <td>
		            <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-info pull-left" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	          </tr>
	          <tr>
	            <th scope="row">3</th>
	            <td>Arnaud</td>
	            <td>Jacquez</td>
	            <td>arnaud.jacquez@zen.com</td>
	            <td>
		            <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Admin
		            </button>
		             <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Manager
		            </button>
		             <button class="btn btn-default pull-left" type="button" data-ng-if="true">
		              Contributor
		            </button>
		            <button class="btn btn-info pull-left" type="button" data-ng-if="true">
		              Member
		            </button>
	        	</td>
	          </tr>
	        </tbody>
	    </table>
	</div>
</div>