<div id="usersState">
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
   <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
	            <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
	              Admin
	            </button>
	             <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
	              Manager
	            </button>
	             <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
	              Contributor
	            </button>
        	</td>
        	<td>
        		 <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
	              Delete
	            </button>
        	</td>
          </tr>
        </tbody>
      </table>
</div>
</div>