<div id="loginState">
<form class="form-signin">
        <h3 class="form-signin-heading">Login with zen account</h3>
        <br/>
        <input ng-model="email" type="email" class="form-control" placeholder="Email address" required autofocus/>
        <input ng-model="password" type="password" class="form-control" placeholder="Password" required/>
        <div class="form-group" ng-if="passwordFailed">
            <div class="alert alert-danger">
                <label>Wrong user or password!</label>
            </div>
        </div>
		
        
    	<br/>
        <!--label>Sign up</label><br/>
        <label>Lost password?</label-->
        <button data-ng-click="login()" class="btn btn-lg btn-primary btn-block">Login</button>
        <span class="pull-right"><a href="#">New Registration</a></span>
</form>
</div>