<div id="zenAccount" data-ng-if="authentication.isConnected()" class="btn-group dropdown" uib-dropdown>
	<button class="btn btn-primary navbar-btn" type="button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
    	{{currentUserName}} <span class="caret"></span>
  	</button>
  	<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
  		<li role="menuitem"><a href="#" class="btn-link" data-ng-click="account.goToCart()">Cart <span class="badge">{{getNbArticles()}}</span></a></li>
	    <li role="separator" class="divider"></li>
	    <li role="menuitem"><a href="#" class="btn-link" data-ng-click="account.goToSettings()">Settings</a></li>
	    <li role="separator" class="divider"></li>
	    <li role="menuitem"><a href="#" class="btn-link" data-ng-click="account.logout()">Logout</a></li>
  	</ul>
</div>