<div id="zenStoryList">
    <!--div ng-repeat="product in productList.items track by product.id" ng-click="storyList.selectStory(story)"-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{product.name}} Hey
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>1 {{product.price}}</td>
                            <td>2 </td>
                            <td>3 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/div-->
    </div>
</div>
