<div id="zenStoryList">
    <!--div ng-repeat="product in productList.items track by product.id" ng-click="storyList.selectStory(story)"-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Hey
            </div>
            <div class="panel-body">
                <tr>
                    <td>{{product}} </td>
                    <td>2 </td>
                    <td>3 </td>
                </tr>
            </div>
        <!--/div-->
    </div>
</div>
