<div id="zenEventList">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">Sort by</p>
            <div class="list-group">
                <label href="#" class="label label-info">Name</label>
                <br/>
                <label href="#" class="label label-success">Activity</label>
                <br/>
                <label href="#" class="label label-warning">Day</label>
            </div>
            <p class="lead">Filters</p>
            <div class="list-group">
                <label class="label label-success">Activties</label>
                <select ng-model='categoryFilter' class="form-control">
                    <option value=''></option>
                    <option ng-repeat="activity in activities" value='{{activity.activityId}}'>{{activity.activityName}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-10">
            <div class="row">
                

                <div class="panel panel-default" ng-repeat="event in eventsFiltered() | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <div class="panel-heading text-right">
                        <div class="nav">
                            <label class="pull-left">
                                {{event.eventName}}
                            </label>
                            <label class="pull-right">
                                {{event.day}} {{event.startTime}}-{{event.endTime}}
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                       <div class="nav">
                            <p class="pull-left">
                                Contributor : {{event.contributor}}
                            </p>
                            <!--button class="btn btn-info pull-right" type="button" data-ng-if="context === 'store'">
                              Subscribe
                            </button>
                            <button class="btn btn-danger pull-right" type="button" data-ng-if="context === 'store'">
                              Unsubscribe
                            </button-->
                        </div>
                    </div>
                </div>

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>