<div id="activitiesState">
	<div class="container">
		<div class="well well-sm"><label>Activity Management</label></div>
		<div id="zenActivityList">

		                <div class="panel panel-default" data-ng-show="false">
		                    <div class="panel-heading text-right">
		                        <div class="nav">
		                            <input type="text" class="form-control pull-left" aria-label="..." placeholder="activity name..."/>
		                        </div>
		                    </div>
		                    <div class="panel-body">
		                            <p class="pull-left">
		                                <input type="text" class="form-control" aria-label="..." placeholder="short description..."/>
		                            </p>
		                            <p class="">
		                                <input type="text" class="form-control" aria-label="..." placeholder="full description..."/>
		                            </p>
		                            <div class="input-group pull-left">
		                                <input type="text" class="form-control" aria-label="..." placeholder="manager..."/>
		                                <div class="input-group-btn" uib-dropdown>
		                                    <button class="btn btn-default" type="button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">    
		                                        <span class="caret"></span>
		                                    </button>
		                                    <ul class="uib-dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="single-button">
		                                        <li role="menuitem"><a href="#">Toto</a></li>
		                                        <li role="menuitem"><a href="#">Larry</a></li>
		                                    </ul>
		                                </div><!-- /btn-group -->
		                            </div><!-- /input-group -->
		                            <button class="btn btn-success pull-right navbar-btn" type="button">
		                              Create
		                            </button>
		                    </div>
		                </div>

		                <div class="panel panel-default">
			  <!-- Default panel contents -->

							<div class="panel-heading">
								<div class="row">
									<div class="col-md-9">
									</div>
									<div class="col-md-3">
							            <div class="input-group">
				                		<input ng-model='searchBar' class="form-control">
										    <span class="input-group-btn">
										    	<button class="btn btn-default" type="button">Search</button>
										    </span>
									    </div><!-- /input-group -->
							        </div>
							    </div>
							</div>

							  <!-- Table -->
						   <table class="table">
						        <thead>
						          <tr>
						            <th>ID</th>
						            <th>Activity Name</th>
						            <th>Description</th>
						          </tr>
						        </thead>
						        <tbody>
						        	<tr ng-repeat="activity in activities | filter:searchBar">
							            <th scope="row">{{activity.activityId}}</th>
							            <td>{{activity.activityName}}</td>
							            <td>{{activity.shortDescr}}</td>
						          	</tr>
						          	<tr>
						        </tbody>
				    		</table>
						</div>
		            </div>
		        </div>

</div>