<div id="eventsState" class="container">
	<div class="well well-sm"><label>Event Management</label></div>	    
	    <div id="zenEventList">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">Search</p>
            <div class="list-group">
                <input ng-model='searchBar' class="form-control">
            </div>

            <p class="lead">Sort by</p>
            <div class="list-group">
                <select ng-model='orderProps' class="form-control">
                    <option value='eventName'>Name</option>
                    <option value='eventActivity'>Category</option>
                </select>
            </div>
            <p class="lead">Filters</p>
            <div class="list-group">
                <label class="label label-success">Activities</label>
                <select ng-model='activityFilter' class="form-control">
                    <option value=''>all</option>
                    <option ng-repeat="activity in activities" value='{{activity.activityId}}'>{{activity.activityName}}</option>
                </select>
            </div>
            <div class="list-group" data-ng-show="authentication.isConnected()">
                <label class="label label-warning">Subscription</label>
                <select ng-model='subscriptionFilter' class="form-control">
                    <option value=''>all</option>
                    <option ng-value='"subscribed"'>subscribed</option>
                    <option ng-value='"unsubscribed"'>unsubscribed</option>
                </select>
            </div>
        </div>

        <div class="col-md-10">
            <div class="row">
               <div class="panel panel-default" data-ng-show="true">
                <div class="panel-heading">
	                        <div class="nav">
	                        	<label>Event name : </label>
	                            <input ng-model="name" type="text" class="form-control pull-left" aria-label="..." placeholder="event name..."/>
	                            <div class="input-group">
	                            		<label>Activity : </label>
								      	<select ng-model='activity' class="form-control">
						                    <option ng-repeat="activity in activities" value="{{activity.activityId}}">{{activity.activityName}}</option>
						                </select>
								</div><!-- /btn-group -->
	                            <div class="input-group">
	                            		<label>Day : </label>
								      	<select ng-model='day' class="form-control">
						                    <option value="Monday">Monday</option>
						                    <option value="Tuesday">Tuesday</option>
						                    <option value="Wednesday">Wednesday</option>
						                    <option value="Thursday">Thursday</option>
						                    <option value="Friday">Friday</option>
						                    <option value="Saturday">Saturday</option>
						                    <option value="monday">Sunday</option>
						                </select>
										</div><!-- /btn-group -->
								</div><!-- /input-group -->
								<div class="input-group">
	                            	<label>starting Time : </label>
							      	<select ng-model='startTime' class="form-control">
					                    <option ng-repeat="i in getNumber(8, 22)" value='{{i}}'>{{i}}h</option>
					                </select>
									</div><!-- /btn-group -->
	                            <div class="input-group">
	                            	<label>Ending Time : </label>
							      	<select ng-model='endTime' class="form-control">
					                    <option ng-repeat="i in getNumber(9, 22)" value='{{i}}'>{{i}}h</option>
					                </select>
								</div><!-- /btn-group -->
								<div class="input-group">
	                            	<label>Max number of participants : </label>
							      	<input ng-model="maxParticipants" type="number" class="form-control" aria-label="..." placeholder="Max number of participants..."/>
								</div>
								<div class="nav">
		                        	<button ng-click="createEvent()" class="btn btn-success pull-right" type="button">
		                              Create
		                            </button>
		                        </div>
	                    </div>
                    </div>
                
                <div class="panel panel-default" ng-repeat="event in eventsFiltered() | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <div class="panel-heading text-right">
                        <div class="nav">
                            <label class="pull-left">
                                {{event.eventName}}
                            </label>
                            <label class="pull-right">
                                {{event.eventDay}} {{event.startTime}}h-{{event.endTime}}h
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                       <div class="nav">
                            <p class="pull-left">
                                 Max: <label>{{event.maxNubr}} people</label>
                            </p>
                            <div>
                                <button class="btn btn-danger pull-right" type="button" data-ng-click="deleteEvent(event)">
	                                  Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <nav ng-show="pageCount()!=-1">
                    <ul class="pagination">
                        <li ng-class="prevPageDisabled()">
                          <a href ng-click="prevPage()">«</a>
                        </li>
                        <li ng-repeat="n in [0, pageCount()] | range" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                          <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                          <a href ng-click="nextPage()">»</a>
                        </li>
                    </ul>
                </nav>
                <div class="alert alert-danger" ng-show="pageCount()==-1">
                    no events
                </div>
            </div>
        </div>
    </div>
</div>
	    
	</div>
</div>