<div id="eventsState">
	<div id="zenProductList" class="container">
	    <div class="row">
	        <div class="col-md-2">
	            <p class="lead">Sort by</p>
	            <div class="list-group">
	                <label class="label label-info">Names</label>
	                <br/>
	                <label class="label label-success">Categories</label>
	                <br/>
	                <label class="label label-warning">Prices</label>
	            </div>
	            <p class="lead">Filters</p>
	            <div class="list-group">
	                <label class="label label-success">Categories</label>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> Yoga
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> Kendo
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> Dance
	                    </label>
	                </div>
	            </div>
	            <div class="list-group">
	                <label class="label label-warning">Prices</label>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> 0 < 10 €
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> 10 < 100 €
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> > 100 € 
	                    </label>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-9">
	            <div class="row">

	            	<div class="panel panel-default" data-ng-if="true">
	                    <div class="panel-heading text-right">
	                        <div class="nav">
	                            <label class="pull-left">
	                                <input type="text" class="form-control" aria-label="..." placeholder="name..."/>
	                            </label>
	                            <label class="pull-right">
	                                <input type="text" class="form-control" aria-label="..." placeholder="price..."/>
	                            </label>
	                            <div class="input-group">
							      	<input type="text" class="form-control" aria-label="..." placeholder="description..."/>
						      		<div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	
							        		<span class="caret"></span>
							        	</button>
							        	<ul class="dropdown-menu dropdown-menu-right">
								          	<li><a href="#">Yoga</a></li>
								          	<li><a href="#">Kendo</a></li>
								          	<li><a href="#">Dance</a></li>
								        </ul>
									</div><!-- /btn-group -->
								</div><!-- /input-group -->
		                    </div>
	                    </div>
	                    <div class="panel-body">
	                        <div class="nav">
	                            <p class="pull-left">
	                                <input type="text" class="form-control" aria-label="..." placeholder="description..."/>
	                            </p>
	                            <button class="btn btn-success pull-right" type="button">
	                              Create
	                            </button>
	                        </div>
	                    </div>
                	</div>

	                <div class="panel panel-default">
	                    <div class="panel-heading text-right">
	                        <div class="nav">
	                            <label class="pull-left">
	                                <input type="text" class="form-control" aria-label="..." value="Mat"/>
	                            </label>
	                            <label class="pull-right">
	                                <input type="text" class="form-control" aria-label="..." value="20 €"/>
	                            </label>
	                        </div>
	                    </div>
	                    <div class="panel-body">
	                       <div class="nav">
	                            <p class="pull-left">
	                                <input type="text" class="form-control" aria-label="..." value="Mat description"/>
	                            </p>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="false">
	                              Add to cart
	                            </button>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="false">
	                              Delete
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="false">
	                              Modify
	                            </button>
	                            <button class="btn btn-warning pull-right" type="button" data-ng-if="true">
	                              Save
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="true">
	                              Discard
	                            </button>
	                        </div>
	                    </div>
	                </div>

	                <div class="panel panel-default">
	                    <div class="panel-heading text-right">
	                        <div class="nav">
	                            <label class="pull-left">
	                                Boken
	                            </label>
	                            <label class="pull-right">
	                                200 €
	                            </label>
	                        </div>
	                    </div>
	                    <div class="panel-body">
	                       <div class="nav">
	                            <p class="pull-left">
	                                Boken description
	                            </p>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="false">
	                              Add to cart
	                            </button>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="true">
	                              Delete
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="true">
	                              Modify
	                            </button>
	                            <button class="btn btn-warning pull-right" type="button" data-ng-if="false">
	                              Save
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="false">
	                              Discard
	                            </button>
	                        </div>
	                    </div>
	                </div>

	                <div class="panel panel-default">
	                    <div class="panel-heading text-right">
	                        <div class="nav">
	                            <label class="pull-left">
	                                Shinai
	                            </label>
	                            <label class="pull-right">
	                                100 €
	                            </label>
	                        </div>
	                    </div>
	                    <div class="panel-body">
	                       <div class="nav">
	                            <p class="pull-left">
	                                Shinai description
	                            </p>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="false">
	                              Add to cart
	                            </button>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="true">
	                              Delete
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="true">
	                              Modify
	                            </button>
	                            <button class="btn btn-warning pull-right" type="button" data-ng-if="false">
	                              Save
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="false">
	                              Discard
	                            </button>
	                        </div>
	                    </div>
	                </div>

	                <div class="panel panel-default">
	                    <div class="panel-heading text-right">
	                        <div class="nav">
	                            <label class="pull-left">
	                                Tutu
	                            </label>
	                            <label class="pull-right">
	                                25 €
	                            </label>
	                        </div>
	                    </div>
	                    <div class="panel-body">
	                       <div class="nav">
	                            <p class="pull-left">
	                                Tutu description Tutu description Tutu description Tutu description Tutu description Tutu description Tutu description Tutu descriptionTutu description Tutu description Tutu description Tutu descriptionTutu description Tutu description Tutu description Tutu descriptionTutu description Tutu description Tutu description Tutu descriptionTutu description Tutu description Tutu description
	                            </p>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="false">
	                              Add to cart
	                            </button>
	                            <button class="btn btn-danger pull-right" type="button" data-ng-if="true">
	                              Delete
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="true">
	                              Modify
	                            </button>
	                            <button class="btn btn-warning pull-right" type="button" data-ng-if="false">
	                              Save
	                            </button>
	                            <button class="btn btn-default pull-right" type="button" data-ng-if="false">
	                              Discard
	                            </button>
	                        </div>
	                    </div>
	                </div>

	                <nav>
	                    <ul class="pagination">
	                        <li>
	                            <a href="#" aria-label="Previous">
	                                <span aria-hidden="true">&laquo;</span>
	                            </a>
	                        </li>
	                        <li><a href="#">1</a></li>
	                        <li>
	                            <a href="#" aria-label="Next">
	                                <span aria-hidden="true">&raquo;</span>
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
</div>