<div id="zenNavigation">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" ui-sref="root.home">Dont Worry Be Zen</a>
	    </div>

	    <div class="collapse navbar-collapse">
	      	<ul class="nav navbar-nav">
	      		<li data-ng-show="true" data-ng-if="authentication.isAdmin()">
		        	<div class="btn-group" uib-dropdown>
				      	<button class="btn btn-default navbar-btn" type="button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
				        	Manage <span class="caret"></span>
				      	</button>
				      	<ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
					        <li role="menuitem" data-ng-if="authentication.isAdmin()"><a href="#" class="btn-link" data-ng-click="navigation.goToUsers()">Users</a></li>
		            		<li role="separator" class="divider"></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin() || authentication.isManager()"><a href="#" class="btn-link" data-ng-click="navigation.goToActivities()">Activities</a></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin() || authentication.isManager()"><a href="#" class="btn-link" data-ng-click="navigation.goToEvents()">Events</a></li>
		            		<li role="separator" class="divider"></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin()"><a href="#" class="btn-link" data-ng-click="navigation.goToCategories()">Categories</a></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin()"><a href="#" class="btn-link" data-ng-click="navigation.goToProducts()">Products</a></li>
		            		<!-- <li role="separator" class="divider"></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin()"><a href="#" class="btn-link" data-ng-click="navigation.goToAccessories()">Accessories</a></li>
		            		<li role="menuitem" data-ng-if="authentication.isAdmin()"><a href="#" class="btn-link" data-ng-click="navigation.goToRooms()">Rooms</a></li> -->
				      	</ul>
				    </div>
				</li>
	        	<li><a ui-sref="root.store">Store</a><li>
	        	<li><a ui-sref="root.myActivities">Activities</a></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
	        <li>
        		<button data-ng-show="true" data-ng-if="authentication.isNotConnected()" ui-sref="root.login" type="button" class="btn btn-default navbar-btn">Sign in</button>
				<button data-ng-show="true" data-ng-if="authentication.isNotConnected()" ui-sref="root.register" type="button" class="btn btn-primary navbar-btn">Sign up</button>
				<zen-account data-ng-show="true" data-ng-if="authentication.isConnected()"><zen-account>
			</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>